<div class="ui comments">
  <div class="comment">
    <a class="avatar">
      <img src="<%= comment.avatar %>">
    </a>
    <div class="content">
      <a class="author">
        <%= comment.name %>
      </a>
      <div class="metadata">
        <span class="date">
          <%= time_ago_in_words(comment.created_at) %> ago
        </span>
      </div>
      <div class="text">
        <%= comment.content %>
      </div>
      <% if @current_user == @post.user %>
      <span><%= link_to 'Delete',[comment.post, comment], method: :delete, data:{confirm: 'Are you sure?'} %></span>
      <% end %>
    </div>
  </div>
</div>
