<div class="ui reply form segment">
  <%= form_for([@post, @post.comments.build]) do |f| %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :content %>
    <%= f.text_area :content, rows: "2" %>
  </div>

  <%= f.submit class: 'ui teal button'%>

  <% end %>
</div>
