<div class="ui raised container segment">
  <%= form_for(@user, html: {multipart: true, class: 'ui form'}) do |f| %>
  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>


  <div class="field">
    <%= f.label :image %>
    <%= f.cl_image_upload :image %>
  </div>

    <%= f.submit class: 'ui button teal' %>

  <% end %>
</div>
