<h2>User Details</h2>

<%= link_to_if @current_user == @user, '[Edit profile]', edit_user_path(@user) %>

<p>Email: <%= @user.email %> </p>

<p>Name: <%= @user.name %> </p>

<img src="https://api.adorable.io/avatars/200/<%= @user.email %>" alt="">

<ul>
  <% @user.posts.each do |p| %>
  <li>
    <a href="<%= post_path(p) %>">
      <img src="<%= p.image %>" alt="">
    </a>
  </li>
  <% end %>
</ul>
