<!DOCTYPE html>
<html>
  <head>
    <title>Project1</title>
    <%= csrf_meta_tags %>
    <%= cloudinary_js_config %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class="right item"></div>
      <% unless @current_user.present? %>
        <%= link_to "Login", login_path, class: 'ui inverted button' %> |
        <%= link_to "Signup", new_user_path, class: 'ui inverted button' %>
      <% else %>
        Welcome, <%= link_to @current_user.name, user_path(@current_user) %>  |
        <%= link_to "Logout", login_path, :method => :delete, class: 'ui inverted button' %>
      <% end %>
    </div>

    <%= yield %>
  </body>
</html>
