<!DOCTYPE html>
<html>
  <head>
    <title>Project1</title>
    <%= csrf_meta_tags %>
    <%= cloudinary_js_config %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class="ui container">
      <div class="ui secondary menu">
        <%= link_to "Gallery", posts_path, class: 'ui pink basic button item' %>
        <div class="right menu">
          <% unless @current_user.present? %>
            <%= link_to "Login", login_path, class: 'ui teal basic button item' %>
            <%= link_to "Signup", new_user_path, class: 'ui teal basic button item' %>
          <% else %>
          <div class="item">
            Welcome, <%= link_to @current_user.name, user_path(@current_user) %>
          </div>
            <%= link_to "Logout", login_path, :method => :delete, class: 'ui teal basic button item' %>
          <% end %>
        </div>
      </div>
    </div>




    <%= yield %>
  </body>
</html>
